name: Build and deploy React frontend to Azure Web App

env:
    AZURE_WEBAPP_NAME: cstfileshare
    NODE_VERSION: "24"
    REACT_APP_BACKEND_URL: ${{ secrets.REACT_APP_BACKEND_URL }}

on:
    push:
        branches: ["main"]
        paths:
            - "frontend/**"
    workflow_dispatch:

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: ${{ env.NODE_VERSION }}
                cache: 'npm'
                cache-dependency-path: 'frontend/package-lock.json'

            - name: Install dependencies
              working-directory: frontend
              run: npm clean-install

            - name: Build project
              working-directory: frontend
              run: |
                echo "REACT_APP_BACKEND_URL=${{env.REACT_APP_BACKEND_URL}}" >> .env
                npm run build

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: fileshare-frontend
                path: frontend/build
    
    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: "Production"
            url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
        
        steps:
            - name: Download build artifact
              uses: actions/download-artifact@v4
              with:
                name: fileshare-frontend
            
            - name: Deploy to Azure Web App
              id: deploy-to-webapp
              uses: azure/webapps-deploy@v2
              with:
                app-name: ${{ env.AZURE_WEBAPP_NAME }}
                publish-profile: ${{ secrets.AZURE_WEBAPP_FRONTEND_PUBLISH_PROFILE }}
                package: fileshare-frontend/build